<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('../navbar') %>
    <h1>Create a new account!</h1>
    <form action="/auth/sign-up" method="post">
      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        id="email"
        pattern="[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)?@[a-zA-Z0-9]+(-[a-zA-Z0-9]+)?\.[a-zA-Z]{2,3}(\.[a-zA-Z]{2,3})?"
        title="Enter a valid email (e.g., john.doe@mail.com or jane@mail.co.uk)"
        required
      />

      <label for="username">Username:</label>
      <input
        type="text"
        name="username"
        id="username"
        pattern=".{3,20}"
        title="Username must be 3-20 characters long"
        required
      />

      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).*"
        title="Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character"
        required
      />

      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).*"
        title="Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character"
        required
      />

      <label for="phoneNumber">Phone Number:</label>
      <input
        type="tel"
        name="phoneNumber"
        id="phoneNumber"
        pattern="\d{8}"
        title="Phone number must be exactly 8 digits"
        required
      />

      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
